In [11]:
#Advance sorted function 

#Normal sort method (Support)
Fruits = ['Mango','Apple','Lichi','Kiwi' ]
Fruits.sort()
print(Fruits)

['Apple', 'Kiwi', 'Lichi', 'Mango']

In [12]:
#(Not-Support)
Fruits2 = ('Mango','Lichi','Kiwi')
Fruits2.sort()
print(Fruits2)

AttributeError: 'tuple' object has no attribute 'sort'

In [16]:
Fruits3= {'Mango','Apple','Lichi','Kiwi'}
print(sorted(Fruits3))

['Apple', 'Kiwi', 'Lichi', 'Mango']

In [17]:
Fruits2 = ('Mango','Lichi','Kiwi')
print(sorted(Fruits2))

['Kiwi', 'Lichi', 'Mango']

In [21]:
TEC = [
    
    {'Model':'i-phone', 'Price':35000},
    {'Model':'MI redami', 'Price':6000},
    {'Model':'Real_me', 'Price':15000},
    {'Model':'apple', 'Price':50000}
]

print(sorted(TEC , key = lambda d:d['Price']))

[{'Model': 'MI redami', 'Price': 6000}, {'Model': 'Real_me', 'Price': 15000}, {'Model': 'i-phone', 'Price': 35000}, {'Model': 'apple', 'Price': 50000}]

In [22]:
TEC = [
    
    {'Model':'i-phone', 'Price':35000},
    {'Model':'MI redami', 'Price':6000},
    {'Model':'Real_me', 'Price':15000},
    {'Model':'apple', 'Price':50000}
]

print(sorted(TEC , key = lambda d:d['Price'] , reverse=True))

[{'Model': 'apple', 'Price': 50000}, {'Model': 'i-phone', 'Price': 35000}, {'Model': 'Real_me', 'Price': 15000}, {'Model': 'MI redami', 'Price': 6000}]

In [25]:
TEC = [
    
    {'Model':'i-phone', 'Price':35000},
    {'Model':'MI redami', 'Price':6000},
    {'Model':'Real_me', 'Price':15000},
    {'Model':'apple', 'Price':50000}
]

Sorted_group= sorted(TEC , key = lambda d:d['Price'] , reverse=True)
print(Sorted_group)

[{'Model': 'apple', 'Price': 50000}, {'Model': 'i-phone', 'Price': 35000}, {'Model': 'Real_me', 'Price': 15000}, {'Model': 'MI redami', 'Price': 6000}]